body{
	background: #FFF;
	max-width: 500px;
	margin: auto;
}

#title {
	color: #B8860B;
	font-family: Verdana;
	margin: 0;
	margin-top: 15px; 
	margin-bottom: 5px;
	text-align: center; 
}
.subtitle {
	color: #101113;
	font-family: Verdana;
	font-style: italic;
	font-size: 15px;
	margin: 0;
	margin-top: 2px;
	margin-bottom: 15px;
	text-align: center; 
}

.post_title{
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
}
	
.post {
	background: #FFF;
	padding: 15px;
	border: 2px dotted #EEAD2D;
	border-radius: 5px;
	margin-bottom: 15px;
}

.photo{
	border: 2px dotted #EEAD2D;
	border-radius: 50%;
	
}

.post_content{
	margin: 0;
	margin-bottom: 15px;
	text-align: left; 
}

a {
	text-decoration: underline;
	color: #B8860B
}

.contacts_list{
	list-style-type: square;
	color: #EEAD2D;
	padding-left: 15px;

}